@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;  
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    list-style-type: none;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 25px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

footer{
    max-width: 1400px;
    margin: 0 auto;
}

footer p{
    margin-top: 10px;
    color: #9f9fa8;
    padding: 30px;
    line-height: 30px;
    font-size: 20px;
}

.section{
    height: 750px;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 50px;
}

.section.three {
	height: 800px;
	padding-bottom: 100px;
}

.section::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.section.one::after{
    background: url('images/spot-bg-01.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: top left;
    transform: skewY(-4deg);
}

/* .section.two::after{
    background: #fff;
    transform-origin: top left;
    transform: skewY(-4deg);
} */

.section.three::after{
    background: url('images/spot-bg-02.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: top;
    transform: skewY(4deg);
}

.section.four::after{
    transform-origin: top;
    transform: skewY(-4deg);
    top: -17%;
    background-color: #fff;
}


.circle{
    width: 600px;
    height: 600px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section.two .circle{
    background-image: url('images/img-01.jpg');
}

.section.four .circle{
    background-image: url('images/img-02.jpg');
}

.inner_section {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content{
    padding: 40px;
    text-align: center;
}

h1{
    color:#cc0064;
    font-size: 50px;
    margin-bottom: 12px;
}

.section.three h1{
    font-size: 40px;
}

h2{
    color:#0095bf;
    font-size: 40px;
}

h3{
    color:#b3e0ec;
    font-size: 20px;
}

.section .content p{
    margin-top: 10px;
    color: #9f9fa8;
    padding: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: justify;
}

button{
    background-color: #0095bf;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}


form input, textarea {
	padding: 10px;
	font-size: 18px;
	border: none;
	border-bottom: 1px solid #e064a1;
    margin-bottom: 20px;
    color: #9f9fa8;
    font-family: 'Roboto', sans-serif;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

input:focus, textarea:focus {
	outline: none;
}

@media only screen and (max-width: 1100px) {
    .section {
        height: 800px;
    }

    h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 18px;
    }

    .section .content p {
        font-size: 18px;
    }
    button {
        font-size: 20px;
    }
    h2 {
        font-size: 35px;
    }
    .content {
        padding: 40px 20px;
    }

    footer p {
        font-size: 16px;
    }

  }

  @media only screen and (max-width: 1000px) {
    .content {
        padding: 20px 0;
    } 
  }

  @media only screen and (max-width: 900px) {
    .container {
        display: block;
    }

    .section {
        height: auto;
    }

    .section.three {
        height: auto;
        padding-bottom: inherit;
    }

    .section.four::after {
        top: 10%;
    }

  }

  @media only screen and (max-width: 700px) {
    .circle {
        width: 500px;
        height: 500px;
    }
  }

  @media only screen and (max-width: 500px) {
    .circle {
        width: 400px;
        height: 400px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 16px;
    }

    .section .content p {
        font-size: 16px;
    }

    button {
        font-size: 16px;
    }

    .section.three h1 {
        font-size: 30px;
    }

    form input, textarea {
        font-size: 16px;
    }

    footer p {
        font-size: 14px;
    }

  }


  @media only screen and (max-width: 400px) {
    .circle {
        width: 350px;
        height: 350px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    .section .content p {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }

    .section.three h1 {
        font-size: 22px;
    }

    form input, textarea {
        font-size: 14px;
    }

    footer p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 350px) {
    .circle {
        width: 320px;
        height: 320px;
    }

    .section .content p {
        padding-top: 0;
        padding-bottom: 0;
    }
}
      



 